@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
body {
	line-height: 1;
	font-family: Lato;
}
button {
	cursor: pointer;
	background-color: transparent;
}
input,
button,
textarea {
	font-family: inherit;
}
/* ------------------ */

body {
	font-family: "Gilroy";
	background-color: #111428;
}

.header {
	padding: 30px 0;
	box-shadow: 0 0 5px 2px #000;
}
.header__container,
.alignment {
	max-width: 1219px;
	margin: 0px auto;
}
.header__container {
	position: relative;
}
.header__logo {
	display: inline-block;
	font-weight: 700;
	font-size: 24px;
	line-height: 20px;
	text-transform: uppercase;
	color: #ffffff;
	margin-right: 60px;
}
.nav {
	display: inline-block;
}
.nav__list {
	vertical-align: top;
}
.nav__list a {
	color: #fff;
}
.nav__list > li {
	display: inline-block;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	padding: 0px 26px 0px 0px;
	position: relative;
}
.header__search {
	display: inline-block;
	width: 45%;
}

.form__search input {
	width: 100%;
	height: 41px;
	font-size: 16px;
	background: #111428 url("../img/icon.png") 93% 12px no-repeat;
	border: 1px solid #a3a3a3;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 0 14px;
	color: #a3a3a3;
}
.header__avatar {
	display: inline-block;
	margin-left: 40px;
	position: absolute;
	top: 0;
	right: 15px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgb(126, 126, 126);
}
.header__avatar-container {
	width: 132%;
	height: 120%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
}
.check-mark::after {
	content: "";
	vertical-align: middle;
	background: url("../img/icon1.png") center / auto no-repeat;
	width: 10px;
	height: 6px;
	cursor: pointer;
	padding: 0px 0px 0px 20px;
}
.mark-check::after {
	content: "";
	position: absolute;
	top: 45%;
	left: 110%;
	background: url("../img/icon1.png") right 0px / 10px 6px no-repeat;
	width: 10px;
	height: 30px;
}
.header__profile {
	display: none;
	position: absolute;
	top: 95%;
	right: 0;
	width: 137px;
	height: 80px;
	background: #337ab7;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	padding: 10px 15px 20px;
}
.header__profile li {
	margin-bottom: 9px;
	padding: 3px 5px;
}
.header__profile a {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
}

/*выпадающее меню*/

.header__avatar-container:hover .header__profile {
	display: block;
}

.header__avatar-container li:hover {
	background: #a6d6ff;
	border-radius: 4px;
}

.menu {
	position: relative;
	font-size: 16px;
	line-height: 19px;
}
.menu__container {
	display: none;
	position: absolute;
	top: 100%;
	right: 30px;
	overflow: hidden;
	max-width: 170px;
	height: 332px;
	border-radius: 5px;
}
.style {
	width: 170px;
	height: 332px;
	background-color: #337ab7;
	padding: 20px;
	margin: 0px 0px 0px 15px;
	overflow: auto;
	border-radius: 5px;
}
.style li {
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 9px;
	text-align: left;
	padding: 3px 5px;
	border-radius: 3px;
}
.check-mark:hover .menu__container {
	display: block;
}
.menu__container li:hover {
	background: #a6d6ff;
	border-radius: 4px;
}
/*------------------*/

.main__container > div {
	max-width: 441px;
	margin: 19px auto;
	text-align: center;
}
.main__logo {
	margin-top: 19px;
	text-align: left;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-transform: capitalize;
	color: #a3a3a3;
}

.main__form h2 {
	font-weight: bold;
	font-size: 38px;
	line-height: 46px;
	color: #ffffff;
	margin-bottom: 10px;
}
.main__form p {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #64b369;
	margin-bottom: 41px;
}
.main__form a {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #64b369;
}
.main__form a:hover {
	text-decoration: underline;
}

.main__conyainer-in {
	max-width: 384px;
	margin: 0 auto;
}
.main__return {
	margin-bottom: 31px;
}
.main__return a {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
}
.main__return a::before {
	content: "";
	background: url("../img/arrow.png") center / cover no-repeat;
	width: 16px;
	height: 16px;
	padding-left: 16px;
	margin-right: 14px;
}
.main__return .main__return-in {
	text-align: left;
}
.main__email {
	margin-bottom: 30px;
}

.main__email input {
	padding: 0 20px;
	width: 384px;
	height: 50px;
	left: 768px;
	top: 250px;
	background: #ffffff;
	border-radius: 5px;
	font-size: 18px;
	line-height: 21px;
	color: #777777;
}

.main__reg p {
	display: inline-block;
	margin-right: 10px;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}

/*кнопка*/
.enter {
	width: 384px;
	height: 50px;
	background: #337ab7;
	border-radius: 5px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #ffffff;
	margin-bottom: 30px;
	padding: 8px 130px 13px;
}
.main__spam p {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #aeaeae;
	text-align: left;
	margin-bottom: 30px;
}
